// FAQ & CONTACT FOOTER

.wideFooter {
	clear: both;
	max-width: 100%;
	background-color: lighten($black, 10%);
	padding: 2rem 0 0 0;
	font-style: normal;
	@media (max-width: 940px) {
		margin-top: 3%;
	}
}

.innerFooter {
	width: 100%;
}

.footerDivs {
	width: calc(24% - 3rem);
	float: left;
	margin-right: 3rem;
	padding-bottom: 3rem;
	h4 {
		color: $lightGrey;
	}
	p {
		color: $lightGrey;
	}
	.connect {
		border-bottom: 1px solid darken($lightGrey, 60%);
		@media (max-width: 600px) {
			text-align: center;
		}
	}
	@media (max-width: 940px) {
		width: calc(50% - 3rem);
	}
	@media (max-width: 767px) {
		padding: 0 5%;
		h4 {
			font-size: 2rem;
		}
		p, .connect p, .connect a {
			font-size: 1.7rem;
			margin: 6px 0;
			float: none;
		}
	}
	@media (max-width: 600px) {
		width: 100%;
		padding: 0 5%;
		text-align: center;
	}
}


// Contact Info


h4.squish {
	margin-bottom: 0;
}

.connect p {
	float: left;
	line-height: 1.4;
	color: $faqLightGrey;
  	font-size: 1.3rem;
  	margin: 1.4rem 0;
}

.connect a {
	text-transform: lowercase;
	margin-left: 2rem;
	color: $faqLightGrey;
	@media (max-width: 767px) {
		margin: 6px 0;
	}
}

p.what {
	font-style: italic;
	margin-right: 3rem;
	font-size: 1.2rem;
	color: darken($faqLightGrey, 5%);
}

p.deets {
	float: left;
	font-style: normal;
	line-height: 1.7rem;
}

p.deets2 {
	margin-left: 1rem;
}

ul.social2 {
	top: 0;
  	left: -0.8rem;
  	margin: 0.3rem 0 0 0;
}

.socIcons2 {
	color: $lightGrey;
	padding-right: 0.2rem;
	@media (max-width: 767px) {
		font-size: 2.3rem;
	}
}

// Popular Tags - style change

.popTagsStyled a {
	background-color: darken($medGrey, 20%);
}
// Recent Posts

p.highlightText2 {
	color: $white;
	font-style: normal;
}

p.tiny2 {
	color: $medGrey;
}

@media (max-width: 767px) {
	.popTags.footerDivs, .popular.footerDivs {
		display: none;
	}
}

// Copyright Div

.copyright {
	clear: both;
	max-width: 100%;
	background-color: lighten($transparentBlack, 8%);
	border-top: 1px solid $transparentBlack;
	p {
		float: left;
		font-style: normal;
	}
	.theme {
		float: right;
	}
	@media (max-width: 767px) {
		p, .theme {
			float: none;
			text-align: center;
			margin: 0;
		}
	}
}



