$white: rgb(247,247,249);
$yellow: rgb(241,177,4);
$lightBlack: rgb(49,50,55);
$black: #000000;
$transparentBlack: rgba(0,0,0,0.3);
$greyBlack: #303238;
$lightGrey: rgb(185,185,185);
$medGrey: #515359;
$sendButtonGrey: rgba(81,83,89,0);
$faqLightGrey: #9da1ad;
